body {
    background: #EEE;
}

.msg_arena_wrapper {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 60px;
}

.msg_list {
    position:relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    border-left: 1px dashed #CCC;
    background-color: #FFF;
    overflow: auto;
}

.msg {
    border-top: 1px dashed #CCC;
    padding: 10px 30px;
    font-size: 12px;
    font-family: Monaco, Courier, Arial;
    color: #000;
    position: relative;
}

.msg_btns{
    position: absolute;
    top:0px;
    right:0px;
    padding:6px;
    color:#08F;
    cursor: pointer;
    border-radius: 0 0 0 4px;
}

.msg_btns:hover{
    background: #EEE;
}

.msg_btns a{
    border-left:1px dotted #AAA;
    padding:0 6px;
}

.msg_btns a:hover{
    text-decoration: underline;
}

.msg_st_read {
    color:#888;
    background-color:#F0F0F0;
}

.msg_st_unread {
    font-weight: bolder;
    text-decoration: none;
}

.msg_do_read {
    font-size: 11px;
    font-weight: normal;
    padding: 2px 8px;
    margin: 0 10px;
    border-radius: 4px;
    background-color: #080;
    color: #FFF;
    vertical-align: top;
    cursor:pointer;
}

.msg_do_read:hover{
    color:#FF0;
    background-color:#6C6;
}

.msg_do_unread {
    font-size: 11px;
    font-weight: normal;
    padding: 2px 8px;
    margin: 0 10px;
    border-radius: 4px;
    background-color: #AAA;
    color: #FFF;
    vertical-align: top;
    cursor:pointer;
}

.msg_do_unread:hover{
    color:#FFF;
    background-color:#08F;
}

.msg_st_unread .msg_do_read{
    display: inline-block;
}

.msg_del{
    display:block;
    position:absolute;
    top:2px;
    right:2px;
    width:16px;
    height:16px;
    background: url(pics/icons.png) no-repeat -32px -80px;
    cursor:pointer;
    opacity: 0.2;
}

.msg_del:hover{
    opacity: 1.0;
}

.msg_notify{
    display:none;
    position:absolute;
    top:6px;
    left:2px;
    width:24px;
    height:24px;
    background: url(pics/icons.png) no-repeat -24px -120px;
    opacity: 0.4;
}

.msg_st_notify .msg_notify{
    display:block;
}

.msg_more {
    margin: 10px auto;
    width: 80%;
    padding: 6px;
    background-color: #DDD;
    border-radius: 20px;
    color: #08F;
    cursor: pointer;
    text-align: center;
}

.msg_more:hover {
    color: #6CF;
    text-decoration: underline;
    background-color: #EEE;
}

.msg_form {
    position: fixed;
    right: 0;
    top: 50px;
    background-color: #EEE;
    padding: 20px;
    border-radius: 0 0 0 10px;
    border: 1px dashed #CCC;
}

.msg_kwd {
    font-size: 14px;
    padding: 4px;
    width: 100%;
}

.msg_reload {
    display: block;
    width: 140px;
    margin: 6px auto;
    text-align: center;
    font-size: 14px;
    background: #CCC;
    border-radius: 6px;
    padding: 6px;
    color: #F80;
    cursor: pointer;
}

.msg_reload:hover {
    text-decoration: underline;
    background-color: #DDD;
}

.msg_tip {
    color: #080;
    padding: 10px;
    font-size: 11px;
    font-family: Courier;
    line-height: 20px;
}