.label {
    display:inline-block;
    margin: 4px 8px;
    color:#08F;
    cursor: pointer;
}

.label:hover {
    background-color: #FF0;
    text-decoration: underline;
}

.label em {
    display:inline-block;
    height:14px;
    line-height:14px;
    padding:0 4px;
    border-radius:8px;
    font-style: normal;
    margin-left: 2px;
    font-size: 10px;
    color:#FFF;
    background-color:#08F;
    text-decoration: none;
}
/*-------------------------------------------------动作相关--------------*/
#label_btns{
    list-style: none;
    padding:6px;
    margin:0;
    position: fixed;
    top:50px;
    right:0;
    text-align: right;
    line-height:24px;
    font-size:12px;
}

#label_btns a{
    display: inline-block;
    padding:0 8px;
    color:#08F;
    cursor: pointer;
    border-radius: 4px;
}

#label_btns a:hover{
    background-color:#CCC;
    color:#F00;
}

/*-------------------------------------------------布局相关--------------*/
.WP {
    width: 100%;
    height: 100%;
    padding: 2px 1px 100px 1px;
    overflow-y: auto;
}

#L {
    width: 60%;
}

#L .WP {
    padding-top: 20px;
}

#R .WP{
    padding:20px;
}

#R {
    width: 40%;
    background: #F0F0F0;
    border-left: 1px dashed #CCC;
}

#L, #R {
    float: left;
    height: 100%;
    padding-top: 51px;
}