body{
    background-color: #DDD;
}

#arena {
    padding: 10px 20px 20px 140px;
}

#arena textarea {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Courier;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 10px #888;
}

#btns {
    text-align: right;
    padding: 60px 20px 1px 20px;
}

.save {
    font-size: 14px;
}