.task {
    margin: 0;
    padding: 1px;
    border-top: 1px dotted #DDD;
    position: relative;
}

.task_view_brief{
    padding:4px 8px;
}

.task_view_hide {
    display: none;
}

.task_checked {
    background-color: #FEA;
}

.task:after, .task_labels:after, .task_menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.task_menu a {
    display: inline-block;
    font-size: 9px;
    cursor: pointer;
    margin: 0 1px;
    padding: 0 2px;
}

.task_labels {
    list-style: none;
    margin: 0;
    padding: 0 4px 3px 0;
    min-height: 24px;
    min-width: 100px;
    position: relative;
    cursor: pointer;
    color: #080;
}

.task_labels:hover {
    color: #08F;
    text-decoration: underline;
}

.task_labels i {
    font-style: normal;
    font-size: 10px;
}

.task_labels_item {
    margin: 1px 0 1px 1px;
    padding: 0 6px;
    font-size: 9px;
    height: 18px;
    line-height: 16px;
    color: #08F;
    border: 1px solid #FFF;
    border-radius: 4px;
}

.task_labels:hover .task_labels_item {
    color: #08F;
    border-color: #08F;
    background-color: #EEE;
}

.task_lbe {
    clear: both;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    padding: 2px 16px 4px 16px;
    z-index: 1000;
    border-radius: 0 0 8px 8px;
    width: 500px;
    font-size: 12px;
}

.task_lbe input {
    width: 100%;
    font-size: 14px;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #888;
}

.task_lbe_tip {
    color: #080;
    padding: 0 4px;
    background-color: #FFF;
}

.task_lbe_btns {
    text-align: center;
}

.task_lbe_btns a {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    background-color: #F80;
    border-radius: 6px;
    margin: 2px 4px;
    padding: 0 10px;
    color: #FFF;
    cursor: pointer;
}

.task_content {
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.task_view_brief .task_content {
    display: inline;
    padding: 2px;
}

.task_view_full .task_content {
    min-height: 42px;
    padding: 1px 6px 12px 6px;
    border-radius: 4px;
}

.task_content:hover {
    background-color: #FFD;
    color: #229;
}

.task_content_hlt, .task_content_hlt:hover {
    background-color: #FF0;
}

.task_uinfo {
    padding: 0 8px;;
    margin: 0 0 4px 0;
    color: #AAA;
    font-size: 10px;
    line-height: 16px;
}

.task_uinfo span {
    display: inline-block;
    padding-left: 4px;
}

.task_uinfo .task_stack b {
    color: #F80;
    font-size: 12px;
}

.task_uinfo .task_ID {
    color: #BBB;
}

.task_uinfo .task_ID a {
    font-family: Courier;
    color: #888;
    text-decoration: none;
}

.task_uinfo .task_ID a:hover {
    color: #08F;
    text-decoration: underline;
}

.task_uinfo .task_ID * {
    margin-left: 6px;
}

.task_uinfo .task_ID u {
    margin-left: 5px;
    border-left: 0;
    text-decoration: none;
}

.task_btn {
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow:hidden;
}

.task_view_brief .task_btn {
    margin:1px 8px;
    padding:2px 4px;
}

.task_view_full .task_btn {
    position: absolute;
    top: 24px;
    width: 50px;
    min-height: 32px;
}

.task_view_full .task_status {
    padding: 7px 0 2px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.task_push {
    background-color: #47F;
}

.task_push:hover {
    background-color: #69F;
}

.task_wait {
    background-color: #8BA;
}

.task_done {
    background-color: #999;
    color: #DDD;
    text-decoration: line-through;
}

.task_ing {
    background-color: #080;
}

.task_ing:hover {
    background-color: #4A4;
}

.task_pause {
    background-color: #94C;
}

.task_pause:hover {
    background-color: #B6E;
}

.task_nums {
    position: absolute;
    top: 57px;
    text-align: center;
    font-size: 9px;
    font-weight: normal;
    color: #FFF;
    background-color: #CCC;
    height: 18px;
    line-height: 18px;
}

.task_nums * {
    float: left;
    padding: 0 4px;
    border-left-style: solid;
    border-left-color: #FFF;
}

.task_num_ing {
    background-color: #69F;
}

.task_num_done {
    background-color: #4A4;
    border-left-width: 1px;
}

.task_num_all {
    background-color: #AAA;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 0 #888;
    border-left-width: 1px;
}

.task_goin {
    display: block;
    position: absolute;
    top: 24px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: -1px 1px 4px #888;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.task_detail {
    border-color: #EEA;
    color: #C44;
    background-color: #FFC;
}

.task_detail:hover {
    color: #A22;
    text-shadow: 0 0 3px #F00;
    background-color: #FEA;
}

/*--------------------------------------------------------- direction:left --*/
.hierachy_left .task_nums {
    right: 12px;
}

.hierachy_left .task_view_full .task_content {
    margin: 0 64px 0 20px;
}

.hierachy_left .task_goin {
    left: 8px;
    border-radius: 10px 2px 2px 10px;
}

.hierachy_left .task_view_full .task_btn {
    right: 10px;
}

.hierachy_left .task_view_brief .task_btn{
    float: right;
}

.hierachy_left .task_uinfo {
    border-radius: 0 10px 10px 0;
    left: 0px;
}

.hierachy_left .task_menu {
    float: left;
}

.hierachy_left .task_menu a {
    float: right;
}

.hierachy_left .task_labels {
    float: right;
    margin-right: 62px;
}

.hierachy_left .task_labels li {
    float: right;
}

.hierachy_left .task_menu a {
    border-right: 1px dotted #DDD;
}

/*--------------------------------------------------------- direction:right --*/
.hierachy_right .task_nums {
    left: 8px;
}

.hierachy_right .task_view_full .task_content {
    margin: 0 44px 0 64px;
}

.hierachy_right .task_uinfo {
    text-align: right;
}

.hierachy_right .task_goin {
    right: 8px;
    border-radius: 2px 10px 10px 2px;
}

.hierachy_right .task_view_full .task_btn {
    left: 10px;
}

.hierachy_right .task_view_brief .task_btn{
    float: left;
}

.hierachy_right .task_uinfo {
    border-radius: 10px 0 0 10px;
    right: 0px;
}

.hierachy_right .task_menu {
    float: right;
}

.hierachy_right .task_menu a {
    float: right;
}

.hierachy_right .task_labels {
    float: left;
    margin-left: 62px;
}

.hierachy_right .task_labels li {
    float: left;
}

.hierachy_right .task_menu a {
    border-left: 1px dotted #DDD;
}